$maxWidth: 1600;
$minWidth: 320;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - $minWidth;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / (#{$maxWidth} - #{$minWidth}))
  );
}

@mixin universal($pcSize, $mobSize, $prop) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - $minWidth;
  #{$prop}: calc(
    #{$mobSize + px} + #{$addSize} *
      ((100vw - #{$minWidth + px}) / #{$maxWidth})
  );
}
