.articles {
  margin-bottom: calc(88vh * 0.12674);
  color: $text-color-dark;
}

.article {
  display: flex;
  align-items: center;
  border: 1px solid #675000;
  padding: calc(15vh * 0.12674) calc(42vw * 0.0625);
  margin-bottom: calc(20vh * 0.12674);

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.article__text {
  flex: 0 2 87.4%;
  padding-right: calc(48vw * 0.0625);

  @media (max-width: 600px) {
    padding-right: 0;
    margin-bottom: calc(12vh * 0.12674);
  }
}

.articles__btn {
  flex: 0 0 12.6%;
  font-weight: 500;
  text-align: center;
}

.article__title {
  font-weight: 600;
  margin-bottom: calc(12vh * 0.12674);
}

.article__caption {
  font-weight: 500;
}

.articles__btn {
  padding: calc(11vh * 0.12674) calc(30vw * 0.0625);
  border-radius: 0;
  font-family: inherit;
}

.text-red {
  background-color: #d3c062;
}

.program {
  margin-top: calc(45vh * 0.12674);
  margin-bottom: calc(24vh * 0.12674);
  color: $text-color-dark;

  h1 {
    font-size: 18px;
    margin-bottom: calc(12vh * 0.12674);
  }
  div {
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: calc(12vh * 0.12674);
  }
  a {
    color: $prog-accent-col;

    &:hover {
      color: #9e7c00;
    }
  }
}
