.music-player {
  text-align: center;
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// #progress {
//   -webkit-appearance: none;
//   width: 100%;
//   height: 6px;
//   background: #a5a5a5;
//   border-radius: 4px;
//   cursor: pointer;
//   margin: 30px 0;
// }

// #progress::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   background: #fbfbfc;
//   width: 14px;
//   height: 14px;
//   border-radius: 50%;
//   box-shadow: 0 0 5px 1px #162858;
// }

// #progress::-moz-range-thumb {
//   background: #fbfbfc;
//   width: 14px;
//   height: 14px;
//   border-radius: 50%;
//   box-shadow: 0 0 3px 0px #162858;
// }
