.category {
  padding-left: calc(113vw * 0.0625);
  text-transform: uppercase;
  @include adaptiv-font(16, 14);
  position: relative;
  word-spacing: 0.3vw;

  &::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: calc(86vw * 0.0625);
    height: 2px;
  }
}
