.footer {
  color: #1e1e47;
  font-weight: 700;
  margin-top: auto;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 34px 0;
  background-color: $menu-back;

  @media (max-width: 850px) {
    flex-direction: column;

    & > div {
      margin: 15px 0;
    }
  }
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    svg path {
      transition: fill 0.5s;
    }

    &:hover svg path {
      fill: #fff;
    }
  }

  a + a {
    margin-left: 30px;
  }
}

.footer__phone,
.footer__email {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}
