.about {
  margin-top: calc(134vh * 0.12674);
  margin-bottom: calc(50vh * 0.12674);

  @media (max-width: 1025px) {
    margin-top: calc(128vh * 0.12674);
  }
}

.about__h1 {
  text-align: center;
  font-size: 22px;
  color: $text-color-dark;
  margin: 30px auto 3px auto;
}

.about__h1:nth-child(2) {
  margin: 3px auto 30px auto;
}

.about__img {
  display: block;
  height: 215px;
  width: 215px;
  margin: 30px auto;
  border-radius: 50%;
  border: 7px solid #f1eaea;
  box-shadow: 0 0 15px 5px #adadad;
}

.about__links {
  text-align: center;
  margin: 30px auto;
  color: $text-color-dark;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;

  a {
    color: $prog-accent-col;

    &:hover {
      color: #9e7c00;
    }
  }
}
