.music-player {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: $text-color-dark;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
}

.music-player__progress-volume {
  display: flex;
  align-items: center;
  width: 100%;
}

.music-player__fa-list,
.music-player__volume {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.music-player__fa-list {
  position: relative;
  flex: 1 1 20%;
  color: #333b50;

  .fa-list {
    cursor: pointer;
  }

  .music-player__list-wrapper {
    position: absolute;
    top: -320px;
    left: 60px;
    height: 300px;
    width: 280px;
    border-radius: 6px;
    background-color: #fbfbfc;
    transform: scaleY(0);
    transition: all 0.3s ease-out;

    .list-modal-close {
      position: absolute;
      top: 6px;
      right: -38px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      // border: 2px solid $text-color-dark;
      background-color: transparent;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 12px;
        left: -1px;
        width: 30px;
        height: 3px;
        background-color: $text-color-dark;
      }

      &::before {
        rotate: 45deg;
      }
      &::after {
        rotate: -45deg;
      }

      @media (max-width: 360px) {
        right: 0;
      }
    }

    .music-player__list {
      width: 100%;
      height: 100%;
      padding: 10px 32px;
      overflow: auto;

      .list-item {
        margin: 10px 0;
        padding: 4px 4px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          border-radius: 4px;
          background-color: #d3d9e7;
        }
      }

      .list-item--active {
        border-radius: 4px;
        background-color: #b0bcd8;
      }
    }

    @media (max-width: 500px) {
      left: calc(60vw * 0.0625);
    }
    @media (max-width: 385px) {
      left: 0;
    }
    @media (max-width: 340px) {
      width: calc(1280vw * 0.0625);
    }
  }

  .music-player__list-wrapper--vis {
    transform: scaleY(100%);
    box-shadow: 0 0 15px 5px #7886a8;
  }
}

#progress {
  -webkit-appearance: none;
  flex: 0 0 60%;
  width: 100%;
  height: 6px;
  background: #a5a5a5;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fbfbfc;
  width: 16px;
  height: 16px;
  border: 5px solid #162858;
  border-radius: 50%;
  box-shadow: 0 0 3px 0px #162858;
}

#progress::-moz-range-thumb {
  background: #fbfbfc;
  width: 6px;
  height: 6px;
  border: 6px solid #162858;
  border-radius: 50%;
  box-shadow: 0 0 3px 0px #162858;
}

.music-player__volume {
  flex: 0 1 20%;

  .fa-volume-low {
    position: relative;
    color: #24304d;
    cursor: pointer;

    .music-player__vol {
      -webkit-appearance: none;
      display: none;
      position: absolute;
      transform: rotate(-90deg);
      top: -85px;
      left: -50px;
      width: 120px;
      height: 6px;
      background: #9c9c9c;
      border-radius: 4px;
      cursor: pointer;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #274492;
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }
    }

    .music-player__vol--vis {
      display: block;
    }
  }
}

.music-player__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-dark;

  > div {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
    background: #eef0f5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #162858;
    box-shadow: 0 0 10px 3px #162858;
    cursor: pointer;
  }

  div:nth-child(2) {
    width: 50px;
    height: 50px;
  }
}

.music-player__file-wrapper {
  margin-top: 30px;
  color: $text-color-dark;
  display: flex;
  flex-direction: column;
  align-items: center;

  .music-player__child-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.file {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;

  &:hover + .file__btn {
    background-color: #9094a0;
  }
}

.file__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  border-radius: 10px;
  color: $text-color-dark;
  font-family: inherit;
  font-weight: 600;
  background-color: #a5a5a5;
  padding: 0 20px;
  margin-bottom: 20px;
}

.file__btn-clean {
  cursor: pointer;

  &:hover {
    background-color: #9094a0;
  }
}

.errorLoad {
  color: $text-color-dark;
  font-weight: 600;
  text-align: center;
}
