.head-progs {
  margin-top: calc(50vh * 0.12674);
  margin-bottom: calc(24vh * 0.12674);
  color: $text-color-dark;

  @media (max-width: 600px) {
    margin-top: calc(25vh * 0.12674);
  }
}

.head-progs--margin {
  margin-top: calc(162vh * 0.12674);
}

.head-progs__row {
  display: flex;
  justify-content: center;
  column-gap: calc(190vw * 0.0625);
  align-items: center;
  margin-bottom: calc(78vh * 0.12674);

  @media (max-width: 600px) {
    margin-bottom: calc(48vh * 0.12674);
  }
}

.head-progs__img {
  margin-left: calc(80vw * 0.0625);

  img {
    width: 135px;
    filter: drop-shadow(0px 0px 25px rgba(150, 150, 150, 0.25));
    opacity: 0.9;
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.head-progs__text {
  width: calc(696vw * 0.0625);

  .category {
    font-weight: 500;
  }
  .category::before {
    background-color: $text-color-dark;
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.head-progs__title {
  margin-top: calc(20vh * 0.12674);
  font-weight: 600;
  @include universal(34, 24, font-size);
  line-height: 1.36;

  @media (max-width: 600px) {
    text-align: center;
  }
}

.select-input-row {
  display: flex;
  column-gap: calc(24vw * 0.0625);

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.cat-select,
.search-form {
  flex: 0 1 50%;
  @media (max-width: 600px) {
    margin-bottom: calc(10vh * 0.12674);
    width: 100%;
  }
}

.cat-select,
.search-input {
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: $prog-accent-col;
  background: transparent;
  outline: none;
}

.cat-select {
  position: relative;
}

.select__title {
  padding: 8px 20px;
  width: 100%;
  cursor: pointer;
  border: 1px solid $prog-accent-col;
  user-select: none;
  outline: none;

  @media (max-width: 600px) {
    padding: 12px 20px;
  }
}

.select__title--focus {
  outline: 1px solid $prog-accent-col;
}
.select__title:focus {
  outline: 1px solid $prog-accent-col;
}

.select__content {
  position: absolute;
  width: 100%;
  background-color: #d9dbe7;
  transition: all 0.3s ease-out;
  opacity: 0;
  box-shadow: 0 5px 15px 0 #737f97;
}

.select__content--active {
  opacity: 1;

  .select__label {
    padding: 8px 20px;
    border: 1px solid $prog-accent-col;
    border-top: none;
    max-height: 100%;

    @media (max-width: 600px) {
      padding: 12px 20px;
    }
  }
}

.select__input {
  display: none;

  &:checked + label {
    background-color: #d6d0a9;
  }
  &:hover + label {
    background-color: #bec2e2;
  }
}

.select__label {
  display: block;
  width: 100%;
  max-height: 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: all 0.2s ease-out;
}

.select__label:focus {
  background-color: #bec2e2;
}

.search-input {
  width: 100%;
  border: 1px solid $prog-accent-col;
  padding: 8px 20px;

  @media (max-width: 600px) {
    padding: 12px 20px;
  }
}

.search-input::placeholder {
  color: $prog-accent-col;
}

.search-input:focus {
  outline: 1px solid $prog-accent-col;
}

.head-progs__caption {
  display: none;
}

.head-progs__caption--vis {
  display: block;
  margin-top: calc(12vh * 0.12674);
  font-size: 18px;
  font-weight: 700;
  color: $red-accent-col;

  @media (max-width: 600px) {
    text-align: center;
  }
}
