.nav {
  position: absolute;
  width: 100%;
  padding-top: calc(54vh * 0.12674);
  padding-bottom: calc(47vh * 0.12674);
  @include adaptiv-font(16, 15);

  @media (max-width: 1025px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;

      // background-color: rgba(108, 111, 163, 0.7);
      z-index: 3;
    }
  }
}

.nav--fix {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: calc(25vh * 0.12674);
  padding-bottom: calc(25vh * 0.12674);
  background-color: $menu-back;
  z-index: 10;

  @media (max-width: 1025px) {
    padding-top: calc(15vh * 0.12674);
    padding-bottom: calc(15vh * 0.12674);
  }

  @media (max-width: 660px) {
    position: absolute;
  }
}

.nav--dark-color {
  color: $text-color-dark;

  svg path {
    fill: $text-color-dark;
  }
}

.nav__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    &:hover {
      color: $accent-col;
    }
    &:active {
      color: $accent-col;
      font-weight: 600;
    }
  }

  .current-page {
    color: $accent-col;
  }
}

.nav__phone {
  display: flex;
  align-items: center;
  transition: color 0.2s;

  svg {
    width: 17px;
  }

  svg path {
    transition: fill 0.2s;
  }

  &:hover svg path {
    fill: $accent-col;
  }

  span {
    margin-left: 1vw;
    font-weight: 600;
  }

  @media (max-width: 1025px) {
    display: none;
  }
}

.nav__logo {
  display: none;

  @media (max-width: 1025px) {
    display: flex;
    flex: 0 0 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
      max-width: 100%;
      display: block;
    }
  }
}

.nav__burger {
  display: none;

  @media (max-width: 1025px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;

    span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}

.nav__burger--active {
  span {
    transform: scale(0);
  }
  &::before {
    top: 9px;
    transform: rotate(45deg);
  }
  &::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
}

.nav__burger--dark {
  span {
    background-color: $text-color-dark;
  }
  &::before,
  &::after {
    background-color: $text-color-dark;
  }
}

.nav__navigation-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    li + li {
      margin-left: calc(71vw * 0.0625);
    }

    a {
      font-weight: 500;
      transition: color 0.2s;
    }

    // Можно написать:
    // margin-right: 71px;
    // &:last-child {
    //     margin-right: 0;
    // }
    // или:
    // li:not(:last-child) {
    //     margin-right: 71px;
    // }
  }

  @media (max-width: 1025px) {
    position: fixed;
    top: 0;
    right: -320px;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: rgba(51, 53, 105, 0.97);
    padding: 170px 64px 0 0;
    z-index: 4;
    transition: all 0.3s;

    ul {
      display: block;
      font-size: 17px;

      li + li {
        margin-left: 0;
      }
      li {
        margin: 0 0 30px 0;
        text-align: right;
      }
    }
  }

  @media (max-width: 300px) {
    right: -260px;
    width: 240px;
  }
}

.nav__navigation-list--active {
  right: 0;
}
.nav__navigation-list--dark {
  @media (max-width: 1025px) {
    background-color: rgba(132, 136, 212, 0.97);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.3s;
}
.overlay--active {
  transform: scale(100%);
  opacity: 1;
}
