.registr {
  margin-top: calc(168vh * 0.12674);
  margin-bottom: calc(60vh * 0.12674);
  color: $text-color-dark;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
}

.container__registr {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    margin-bottom: calc(30vh * 0.12674);
  }
  .registr__choise-reg {
    margin-bottom: calc(20vh * 0.12674);
  }
}

.registr__active-reg {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    color: $red-accent-col;
    font-weight: 600;
    font-size: 20px;
    margin: 3px 0;
  }

  .registr__are-you-sure,
  .registr__are-you-sure--vis {
    margin: 0;
  }
}

.registr__dates-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registr__dates-row {
  display: flex;
  align-items: center;
}

.cancel__btn {
  font-size: 16px;
  margin-left: 20px;
  padding: 10px 10px;
}

.registr__are-you-sure {
  display: flex;
  align-items: center;
  max-height: 0;
  opacity: 0;
  transition: all 0.2s ease;

  span {
    display: block;
    color: $text-color-dark;
    font-size: 0;
    transition: all 0.2s ease;
  }
  .are-you-sure__btn {
    display: block;
    padding: 0 20px;
    font-size: 0;
    transition: all 0.2s ease;
  }
}

.registr__are-you-sure--vis {
  display: flex;
  align-items: center;
  max-height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: all 0.2s ease;

  span {
    display: block;
    color: $text-color-dark;
    font-size: 18px;
    transition: all 0.2s ease;
  }
  .are-you-sure__btn {
    display: block;
    padding: 14px 20px;
    font-size: 16px;
    transition: all 0.2s ease;
  }
}

.registr__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(12vh * 0.12674);
}
.entry__header {
  color: #45185a;
  margin-bottom: calc(8vh * 0.12674);
  cursor: pointer;
  user-select: none;
}

.entry__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;

  .entry__time {
    font-size: 0;
    padding: 0 20px;
    margin: 0;
    background-color: $accent-col;
    cursor: pointer;

    user-select: none;
    transition: all 0.3s ease-out;

    &:hover {
      background: $accent-btn-hover;
    }
  }
}

.entry__wrapper--vis {
  max-height: 100%;
  opacity: 1;

  .entry__time {
    font-size: 17px;
    padding: 10px 20px;
    margin: 0 5px calc(10vh * 0.12674) 5px;
  }
}

.registr__limit-caption {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 150px;
  color: #fff;
  padding: 8px 16px;
  background-color: rgb(93, 100, 131);
  user-select: none;
}

.reg-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}

.reg-modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(600vw * 0.0625);
  min-height: 400px;
  top: 20vh;
  left: 50vw;
  margin-left: calc(-600vw * 0.0625 / 2);
  padding: calc(70vh * 0.12674) 40px calc(50vh * 0.12674) 40px;
  background-color: #e1e1f1;
  box-shadow: 0 0 20px 3px #141127;
  z-index: 11;

  .reg-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      width: 30px;
      height: 3px;
      background-color: $text-color-dark;
    }

    &::before {
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }

    &:focus {
      background-color: $accent-btn-hover;
    }
  }

  div,
  label {
    margin-bottom: 15px;
  }

  div span {
    color: $red-accent-col;
  }

  .you-sign {
    font-size: 20px;
    color: #910179;
  }

  label span {
    display: inline-block;
    margin-bottom: 4px;
  }

  @media (max-width: 1025px) {
    width: 400px;
    margin-left: -200px;
  }
  @media (max-width: 500px) {
    top: 14vh;
    width: 290px;
    margin-left: -145px;
    padding: calc(70vh * 0.12674) 25px calc(50vh * 0.12674) 25px;
  }
}

.reg-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.85);
  z-index: 10;
  // transform: scale(0);
  // opacity: 0;
  transition: opacity 0.3s;
}

.reg-modal__form--anim {
  animation-name: shake;
  animation-duration: 1s;
}

.reg__btn {
  position: static;
}

.modal-form__btn {
  position: static;
}

@keyframes shake {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.registr__dates-col--blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
